/* Global Styles */
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: gold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    text-align: center;
    padding: 20px;
}

.profile-img, .logo {
    max-width: 100%; /* Ensure images don't exceed container width */
}
