body {
  background-color: black;
}
h1 {
  color: gold;
}
p {
  color: white;
  font-family: courier;
}
nav ul {list-style-type: none;margin: 0;padding:0;}
nav li {display: inline; margin-right: 2;}
a
{
  color: white;
  font-family: courier;
  fontsize: 160%
